In [68]:
fruits = []
fruits

[]

In [69]:
fruits.append("kiwi")
fruits.append("berry")
fruits.append("melon")
fruits

['kiwi', 'berry', 'melon']

In [70]:
fruits.sort()
fruits

['berry', 'kiwi', 'melon']

In [71]:
fruits.sort()
fruits

['berry', 'kiwi', 'melon']

In [72]:
fruits.pop()

'melon'

In [73]:
fruits.insert(0, "apple")

In [74]:
fruits

['apple', 'berry', 'kiwi']

In [75]:
fruits

['apple', 'berry', 'kiwi']

In [2]:
def pyramid_sum(lower, upper, margin =0):
    blanks = " "*margin
    print(blanks, lower, upper)
    if lower > upper:
        print (blanks, 0)
        return 0
    else:
        result= lower + pyramid_sum(lower +1, upper, margin + 4)
        print ( blanks, result)
        return result
pyramid_sum(1,10)

 1 10
     2 10
         3 10
             4 10
                 5 10
                     6 10
                         7 10
                             8 10
                                 9 10
                                     10 10
                                         11 10
                                         0
                                     10
                                 19
                             27
                         34
                     40
                 45
             49
         52
     54
 55

55